Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

chore(license): update copyright year to 2021
  LICENSE
Due: none

build(package): upgrade devDependencies
  package.json
Due: prettier --write

chore(constants): fix lint warning
  src/constants/index.js
Due: npm run lint:fix

chore(package): add scripts `eject` and update engines.node
  package.json
Due: prettier --write

chore(src): remove serviceWorker
  src/index.js
  src/serviceWorker.js
Due: npm run lint:fix

chore(package): move `phaser` to dependencies
  .env
  package.json
Due: prettier --write

refactor(env): change phaser env var from script to version
  .env
  public/index.html
Due: none

feat(index): always show GitHub Corners
  public/index.html
  src/index.css
Due: prettier --write

feat: update template given cra-template@1.1.1
  .browserslistrc
  .eslintrc.json
  .huskyrc.json
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
Due: prettier --write, jsonlint

docs(readme): update description and instructions
  README.md
Due: prettier --write

gitploy
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.ea9424d2.chunk.css
  static/css/main.ea9424d2.chunk.css.map
  static/js/main.b59ae559.chunk.js
  static/js/main.b59ae559.chunk.js.map
  static/js/runtime-main.756c052f.js
  static/js/runtime-main.756c052f.js.map
  static/media/dude.526a78a9.png
  static/media/platform.69db09bf.png
  static/media/sky.47a86b19.png
  static/media/star.a7cb585c.png
Due: npm run lint:fix, prettier --write

refactor(assets): create index module that exports png assets
  src/assets/index.js
  src/scenes/Boot.js
Due: npm run lint:fix

refactor(scenes): undo destructuring in Main create
  src/scenes/Main.js
Due: npm run lint:fix

refactor(src): specify global variable `Phaser`
  .eslintrc.json
  src/index.js
  src/scenes/Boot.js
  src/scenes/Main.js
  src/sprites/Player.js
  src/sprites/Star.js
  src/texts/Score.js
Due: npm run lint:fix, prettier --write, jsonlint

docs(readme): revise instructions to remove phaser import
  README.md
Due: prettier --write

refactor(scenes): change how score is stored in Main
  src/scenes/Main.js
Due: npm run lint:fix

refactor(constants): tidy scenes
  src/constants/index.js
  src/scenes/Boot.js
  src/scenes/Main.js
Due: npm run lint:fix

refactor(src): tidy animation constants and Player sprite
  src/constants/index.js
  src/sprites/Player.js
Due: npm run lint:fix

refactor(constants): tidy textures
  src/constants/index.js
  src/scenes/Boot.js
  src/scenes/Main.js
  src/sprites/Player.js
  src/sprites/Star.js
Due: npm run lint:fix

docs(index): update JSDoc link
  src/index.js
Due: npm run lint:fix

docs(readme): add CodeSandbox template
  README.md
Due: prettier --write

chore: migrate husky 4 to 7
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  package.json
Due: prettier --write, jsonlint

fix: upgrade web-scripts@2.1.2 and update env vars
  .env
  .eslintrc.json
  package.json
  src/index.js
Due: npm run lint:fix, prettier --write, jsonlint

build(package): update engines node to >=14.0.0
  package.json
Due: prettier --write

build(package): upgrade phaser from 3.52.0 to 3.55.2
  .env
  package.json
Due: prettier --write

refactor: import Phaser locally instead of globally
  .env
  .eslintrc.json
  README.md
  public/index.html
  src/index.js
  src/scenes/Boot.js
  src/scenes/Main.js
  src/sprites/Player.js
  src/sprites/Star.js
  src/texts/Score.js
Due: npm run lint:fix, prettier --write, jsonlint

ci: add github workflow build.yml and move deploy there
  .github/workflows/build.yml
  .husky/pre-commit
  README.md
  package.json
  scripts/deploy.sh
Due: prettier --write

ci: fix github pages deploy in workflow build.yml
  .github/workflows/build.yml
Due: none

style: use default prettier option for arrowParens
  .prettierrc.json
  src/scenes/Main.js
  src/texts/Score.js
Due: npm run lint:fix, prettier --write, jsonlint

chore(env): emit ESLint errors as warnings during development
  .env
Due: none

build(package): upgrade @descriptive/web-scripts from 2.1.2 to 3.0.0
  package.json
Due: prettier --write

refactor: refactor to TypeScript
  package.json
  src/assets/index.ts
  src/constants/index.ts
  src/index.ts
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/scenes/index.ts
  src/sprites/Player.ts
  src/sprites/Star.js
  src/sprites/Star.ts
  src/sprites/index.ts
  src/texts/Score.js
  src/texts/Score.ts
  src/texts/index.ts
  src/web-app-env.d.ts
  tsconfig.json
Due: npm run lint:fix, prettier --write

style: add ESLint plugin that sorts imports and exports
  .eslintrc.json
  package.json
  src/index.ts
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
Due: prettier --write, jsonlint

fix(package): add back homepage since build will fail without subdir
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{json,css,md}
  jsonlint: (any of: .*{rc,json}) or (any of: .*{rc,json},!.browserslistrc)
