Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

build(package): remove package-lock.json
  package-lock.json
Due: prettier --write

build(package): remove caret from version
  package.json
Due: prettier --write

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: none

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: none

ci(github): update mergify.yml
  .github/mergify.yml
Due: none

build(nvmrc): set Node.js version to 18
  .nvmrc
Due: jsonlint

ci(github): use .nvmrc in setup-node
  .github/workflows/build.yml
Due: none

ci(github): tidy workflow build.yml
  .github/workflows/build.yml
Due: none

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): save package-lock.json
  package-lock.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci(github): cache deps in workflow build.yml
  .github/workflows/build.yml
Due: none

build(package): bump prettier from 2.8.1 to 2.8.2
  package-lock.json
  package.json
Due: prettier --write

refactor: get homepage url from env var
  .env
  .github/workflows/build.yml
  package.json
  src/index.ts
Due: prettier --write

chore: updating env vars in typings.d.ts
  .github/workflows/build.yml
  src/typings.d.ts
Due: none

docs(readme): add environment variables
  README.md
Due: prettier --write

chore(license): update copyright year to 2023
  LICENSE
Due: none

ci(github): set permissions contents to write in build.yml
  .github/workflows/build.yml
Due: none

build(package): save mobx to devDependencies
  package-lock.json
  package.json
Due: prettier --write

refactor(store): manage score state with mobx
  src/scenes/Main.ts
  src/store/index.ts
  src/store/state.ts
Due: none

chore(package): rename script `tsc` to `lint:tsc`
  .github/workflows/build.yml
  package.json
Due: prettier --write

refactor(data): tidy key.ts
  src/data/key.ts
Due: none

refactor(data): make key readonly
  src/data/key.ts
Due: none

refactor(scenes): tidy argument passed to super in constructor
  src/scenes/Boot.ts
  src/scenes/Main.ts
Due: none

refactor(utils): export isProduction and isDevelopment from env
  src/index.ts
  src/utils/env.ts
  src/utils/index.ts
Due: none

build(package): bump eslint from 8.32.0 to 8.33.0
  package-lock.json
  package.json
Due: prettier --write

refactor(store): simplify mobx logic in state.ts
  src/store/state.ts
Due: none

chore(sprites): fix type error and update .eslintrc.json
  .eslintrc.json
  src/sprites/Player.ts
Due: prettier --write, jsonlint

ci(github): merge with squash in mergify.yml
  .github/mergify.yml
Due: none

build(package): install `process` to fix parcel build
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{json,css,md}
  jsonlint: (any of: .*{rc,json}) or (any of: .*{rc,json},!.browserslistrc)
