Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{json,css,md}": [
    "prettier --write",
    "git add"
  ],
  ".*{rc,json}": "jsonlint"
}

.lintstagedrc.json:

{
  "*.{js,jsx,mjs,mts,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

refactor(sprites): tidy enum Animation in Player
  src/sprites/Player.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablegames/phaser-template@b4182868078e62e0978adc6e99b6b9f223193599 🚀
  assets/index-C4dBJ0NS.js
  index.html
Due: npm run lint:fix, prettier --write, eslint --fix

refactor(state): replace state with data
  src/scenes/Main.tsx
  src/state/index.ts
Due: eslint --fix

Deploying to gh-pages from @ remarkablegames/phaser-template@70a95cc77e20a95723be40c0df7cc447b4abb96d 🚀
  assets/index-0nuqsJJG.js
  index.html
Due: npm run lint:fix, prettier --write, eslint --fix

refactor(gameobjects): rename directory
  src/gameobjects/Player.ts
  src/gameobjects/Star.ts
  src/gameobjects/index.ts
  src/scenes/Main.tsx
Due: eslint --fix

refactor(index): tidy GitHub Corners
  index.html
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/phaser-template@71bcd2034aecbabbc98e848d24855a3fb2298ec2 🚀
  index.html
Due: prettier --write

ci(github): tidy dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): tidy workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): update release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(env): set npm package variables in .env
  .env
  src/types/vite-env.d.ts
Due: eslint --fix

build(scripts): update bundle.sh
  scripts/bundle.sh
Due: none

ci(github): tidy release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, jsonlint, eslint --fix

docs(readme): remove replit
  README.md
Due: prettier --write

ci(github): use gitploy-action in build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): fix workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

chore(index): tidy lang in index.html
  index.html
Due: prettier --write

docs(readme): tidy README.md
  README.md
Due: prettier --write

docs(readme): add status badges
  README.md
Due: prettier --write

build(package): upgrade lockfileVersion from 2 to 3
  package-lock.json
Due: prettier --write

build: deploy 14f61af97defcb1dcbf779212415bdd61ce94704 to gh-pages
  assets/dude-CTFTQOB2.png
  assets/index-BSBDIUNt.js
  assets/index-BjsP-lIf.css
  assets/platform-Bpju0ip4.png
  assets/sky-C3FK-69K.png
  assets/star-DprScIFb.png
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
Due: npm run lint:fix, prettier --write, eslint --fix

build(package): save @types/react to devDependencies
  package-lock.json
  package.json
Due: prettier --write

build: deploy d1f3855ab7bdf347a3c9f356be99002c531f1005 to gh-pages
  assets/dude-CTFTQOB2.png
  assets/index-BSBDIUNt.js
  assets/index-BjsP-lIf.css
  assets/platform-Bpju0ip4.png
  assets/sky-C3FK-69K.png
  assets/star-DprScIFb.png
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
Due: npm run lint:fix, prettier --write, eslint --fix

refactor: refactor constant to enum
  src/constants/key.ts
  src/gameobjects/Player.ts
  src/gameobjects/Star.ts
  src/scenes/Boot.ts
  src/scenes/Main.tsx
Due: eslint --fix

build(nvmrc): upgrade Node.js from 20 to 22
  .nvmrc
Due: jsonlint

docs(readme): remove unnecessary install instructions
  README.md
Due: prettier --write

chore(license): update copyright year to 2025
  LICENSE
Due: none

chore: ignore .env.local in .gitignore
  .gitignore
  README.md
Due: prettier --write

refactor: move assets to public directory
  public/backgrounds/sky.png
  public/images/platform.png
  public/images/star.png
  public/sprites/dude.png
  src/assets/index.ts
  src/constants/key.ts
  src/gameobjects/Player.ts
  src/gameobjects/Star.ts
  src/scenes/Boot.ts
  src/scenes/Main.tsx
Due: eslint --fix

refactor(constants): rename key to keys
  src/constants/index.ts
  src/constants/keys.ts
Due: eslint --fix

ci(github): fix permissions in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(package): refactor eslint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

ci(github): tidy permissions in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build: deploy 4e5df9608ec2e743454ea3eeb288d9bc33af1415 to gh-pages
  assets/index-BjsP-lIf.css
  assets/index-CQXeT3Jg.js
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

fix(scenes): import assets in Boot.ts
  src/scenes/Boot.ts
Due: eslint --fix

build(package-lock): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

chore(husky): add TypeScript linting to pre-commit hook
  .husky/pre-commit
Due: none

docs(readme): add release link
  README.md
Due: prettier --write
