Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{json,css,md}": [
    "prettier --write",
    "git add"
  ],
  ".*{rc,json}": "jsonlint"
}

.lintstagedrc.json:

{
  "*.{js,jsx,mjs,mts,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

build(nvmrc): upgrade Node.js from 22 to 24
  .nvmrc
Due: jsonlint

docs(readme): tidy image path
  README.md
Due: prettier --write

build: deploy fafd44f915d9afea5b787a645661a45e685909c3 to gh-pages
  assets/index-BdcCVJNh.js
  assets/index-BjsP-lIf.css
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

docs(readme): update README.md
  README.md
Due: prettier --write

chore(license): update copyright year to 2026
  LICENSE
Due: none

ci(github): update release build to generate app
  .github/workflows/release-please.yml
  README.md
  package.json
  public/app-icon.png
  scripts/bundle.sh
Due: prettier --write

chore(index): tidy description
  index.html
Due: prettier --write

build: deploy 4bf4d617289b1cf212ba56142c65eb0144bd8a4d to gh-pages
  app-icon.png
  assets/index-BdcCVJNh.js
  assets/index-BjsP-lIf.css
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

docs(readme): update nvm
  README.md
Due: prettier --write

docs: add AGENTS.md
  AGENTS.md
Due: prettier --write

docs: update AGENTS.md
  AGENTS.md
Due: prettier --write

docs: fix grammar in AGENTS.md
  AGENTS.md
Due: prettier --write

docs(AGENTS): remove boundaries
  AGENTS.md
Due: prettier --write

docs(AGENTS): tidy tech stack
  AGENTS.md
Due: prettier --write

fix: resolve TypeScript 6.0 deprecation warnings and type errors
  src/utils/analytics.ts
  tsconfig.json
Due: prettier --write, eslint --fix

docs(AGENTS): update AGENTS.md
  AGENTS.md
  eslint.config.mts
Due: prettier --write, eslint --fix

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

build: deploy 5fd8e9a99d9380c3feab14ad0bf707ceca3b251f to gh-pages
  app-icon.png
  assets/index-BhScMkJF.js
  assets/index-BjsP-lIf.css
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

refactor(types): move vite types from vite-env.d.ts to tsconfig.json
  src/types/vite-env.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor(scenes): update score when collecting stars
  src/components/Score.tsx
  src/scenes/Main.tsx
Due: eslint --fix

docs(AGENTS): document asset loading
  AGENTS.md
Due: prettier --write

docs(AGENTS): fix example
  AGENTS.md
  index.html
Due: prettier --write

build: deploy e52103f917c54490e438715277e9d242474b09b3 to gh-pages
  app-icon.png
  assets/index-BjsP-lIf.css
  assets/index-C_7fbU3F.js
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

docs(AGENTS): update file structure
  AGENTS.md
Due: prettier --write

ci(github): add page test to build.yml
  .github/workflows/build.yml
Due: prettier --write

refactor(eslint): fix eslint errors
  eslint.config.mts
  src/components/Score.tsx
  src/gameobjects/Player.ts
  src/gameobjects/Star.ts
  src/scenes/Main.tsx
Due: eslint --fix

refactor: rename `manifest.json` to `manifest.webmanifest`
  .github/workflows/release-please.yml
  README.md
  index.html
  package.json
  public/manifest.json
  public/manifest.webmanifest
Due: prettier --write

build: add wavedash to index.html and release-please.yml
  .github/workflows/release-please.yml
  index.html
Due: prettier --write

build(vite): code split phaser and phaser-jsx
  vite.config.mts
Due: eslint --fix

ci(github): update page test in build.yml
  .github/workflows/build.yml
Due: prettier --write

build(deps): bump phaser-jsx from 0.16.3 to 1.0.0
  package-lock.json
  package.json
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write, jsonlint

build(vite): update vite.config.mts
  vite.config.mts
Due: eslint --fix

ci(github): rename job itch in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): upload to wavedash in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write
