Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

docs: update README.md
  README.md
Due: prettier --write

ci(github): add dependabot.yml
  .github/dependabot.yml
Due: none

build(package): upgrade devDependencies
  package.json
Due: prettier --write

ci(github): add mergify.yml
  .github/mergify.yml
Due: none

chore(commitlint): update "body-max-line-length" rule
  .commitlintrc.json
Due: prettier --write, jsonlint

refactor(scenes): move key from constants to class
  src/constants/index.ts
  src/scenes/Boot.ts
  src/scenes/Main.ts
Due: none

refactor(types): move texture keys from constants to types
  src/constants/index.ts
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
  src/types/index.ts
Due: none

refactor: remove constants and replace with enums in Player
  src/constants/index.ts
  src/sprites/Player.ts
Due: none

refactor(scenes): make scene keys into enums
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/types/index.ts
Due: none

refactor(sprites): remove init method from Player and Star
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
Due: none

chore(scenes): fix comment in Main
  src/scenes/Main.ts
Due: none

docs(readme): update README.md
  README.md
Due: prettier --write

fix: move body logic from Star sprite to Main scene so stars bounce
  src/scenes/Main.ts
  src/sprites/Star.ts
Due: none

refactor(types): rename enum Texture to Image
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
  src/types/index.ts
Due: none

build(package): upgrade @descriptive/web-scripts from 3.0.0 → 3.0.1
  package.json
Due: prettier --write

docs(readme): remove "Migration" section
  README.md
Due: prettier --write

build(package): remove `gitploy` from devDependencies
  package.json
Due: prettier --write

ci(github): set Node.js to v16 and don't cache deps in build.yml
  .github/workflows/build.yml
Due: none

ci(github): set Node.js version to 14 in build.yml workflow
  .github/workflows/build.yml
Due: none

ci(github): add workflow release-please.yml
  .github/workflows/release-please.yml
Due: none

build(package): remove dependency `standard-version`
  package.json
Due: prettier --write

docs(readme): remove release
  README.md
Due: prettier --write

ci(github): add 'dependencies' label to dependabot.yml
  .github/dependabot.yml
Due: none

chore(license): update copyright year to 2022
  LICENSE
Due: none

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{json,css,md}
  jsonlint: (any of: .*{rc,json}) or (any of: .*{rc,json},!.browserslistrc)
