Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint, eslint --fix

build: deploy bc64ab859001e26544c20baa4c7fff6b13a67377 to gh-pages
  app-icon.png
  assets/index-BjsP-lIf.css
  assets/index-Iag9y2T3.js
  assets/phaser-ni8cEcsj.js
  assets/rolldown-runtime-BpQH8Ho1.js
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.webmanifest
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

chore: tidy LICENSE
  LICENSE
Due: none

build: deploy 002770fb2c0173392123aaeb9eddae58a1839df2 to gh-pages
  app-icon.png
  assets/index-BjsP-lIf.css
  assets/index-Iag9y2T3.js
  assets/phaser-ni8cEcsj.js
  assets/rolldown-runtime-BpQH8Ho1.js
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.webmanifest
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

docs(readme): tidy sentence
  README.md
Due: prettier --write

ci(github): tidy build.yml
  .github/workflows/build.yml
Due: prettier --write

build(package): bump phaser-jsx from 1.0.0 to 1.0.1
  package-lock.json
  package.json
Due: prettier --write

build: deploy 43c54b69f2c1c523b35b5bb81dbac226b4b19517 to gh-pages
  app-icon.png
  assets/index-BjsP-lIf.css
  assets/index-CPjlov_A.js
  assets/phaser-D2CsQ3IN.js
  assets/rolldown-runtime-BpQH8Ho1.js
  backgrounds/sky.png
  favicon.ico
  images/platform.png
  images/star.png
  index.html
  logo192.png
  logo512.png
  manifest.webmanifest
  robots.txt
  screenshot.png
  sprites/dude.png
Due: npm run lint:fix, prettier --write, eslint --fix

chore(tsconfig): refactor eslint and tsconfig
  eslint.config.mts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: prettier --write, eslint --fix

docs(readme): add desktop links
  README.md
Due: prettier --write

refactor: rename index.ts to main.ts
  AGENTS.md
  README.md
  index.html
  src/main.ts
Due: prettier --write, eslint --fix

ci(github): tidy groups in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): set env vars in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore(public): delete public/robots.txt
  public/robots.txt
Due: none

chore(package): fix script lint:tsc
  package.json
Due: prettier --write

refactor: replace enums with const objects for erasableSyntaxOnly
  src/constants/keys.ts
  src/gameobjects/Player.ts
  src/gameobjects/Star.ts
  src/scenes/Boot.ts
  src/scenes/Main.tsx
Due: eslint --fix

docs(AGENTS): update AGENTS.md
  AGENTS.md
Due: prettier --write

docs(AGENTS): update code block
  AGENTS.md
Due: prettier --write

docs(AGENTS): tidy file structure
  AGENTS.md
Due: prettier --write

chore: tidy index.html
  index.html
Due: prettier --write

chore(index): add `og:image`
  index.html
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: (any of: *.{json,css,md}) or (any of: *.{css,html,json,md,yml})
  jsonlint: any of: .*{rc,json}
  eslint --fix: any of: *.{js,jsx,mjs,mts,ts,tsx}
