Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

docs(readme): update item
  README.md
Due: prettier --write

chore(husky): tidy commit-msg and pre-commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(lintstagedrc): add more js extensions
  .lintstagedrc.json
Due: prettier --write, jsonlint

build: add bundle script
  README.md
  package.json
  scripts/bundle.sh
Due: prettier --write

docs(readme): fix heading
  README.md
Due: prettier --write

docs(readme): improve grammar
  README.md
Due: prettier --write

build(scripts): update bundle to exclude github corners
  index.html
  scripts/bundle.sh
  src/github-corners.css
  src/style.css
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/phaser-template@df1ad0c0de4c888a81cd1f3f8ff1a895d8624db8 🚀
  index.html
Due: none

build(scripts): remove quotes from zip filename in bundle.sh
  scripts/bundle.sh
Due: none

chore(license): update copyright year to 2024
  LICENSE
Due: none

build(nvmrc): set Node.js version to 20
  .nvmrc
Due: jsonlint

build(package): remove `process` from devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore: remove .browserslistrc
  .browserslistrc
Due: jsonlint

refactor: inline github corners styles
  index.html
  src/github-corners.css
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/phaser-template@d8f41d7f069c6f47ea2d6f8e6653b1d23ff34cc9 🚀
  assets/index-4BZHmqkO.css
  assets/index-DoQNH1OU.css
  assets/index-EvvC6knv.js
  index.html
Due: npm run lint:fix, prettier --write

build(vite): remove viteNext
  vite.config.mts
Due: none

chore(public): update noscript text
  index.html
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@7efe4a230683de7b12f41bdc7b66d4b19931f916 🚀
  index.html
Due: none

build(package): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.1
  package-lock.json
  package.json
Due: prettier --write

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: none

chore(husky): migrate to husky 9
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: fix TypeScript error
  src/index.ts
Due: none

ci(github): upload to itch.io in workflow release-please.yml
  .github/workflows/release-please.yml
  scripts/bundle.sh
Due: none

chore(husky): don't make hooks executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(scripts): refactor bundle.sh
  scripts/bundle.sh
Due: none

ci(github): fix env vars in release-please.yml
  .github/workflows/release-please.yml
Due: none

docs(readme): improve wording
  README.md
Due: prettier --write

refactor(components): modularize Score from Main
  src/components/Score.tsx
  src/components/index.ts
  src/scenes/Main.tsx
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@14dde3b4d7f4ac0028d4dfc00d333558ce1746d7 🚀
  assets/index-B61z-0ti.js
  index.html
Due: npm run lint:fix

refactor(scenes): tidy Main
  src/scenes/Main.tsx
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@6edb5b7bdbce77b60a5c6f3fdd3c65abc7581865 🚀
  assets/index-BBTahXhJ.js
  index.html
Due: npm run lint:fix

refactor(scenes): tidy scene exports
  src/index.ts
  src/scenes/Boot.ts
  src/scenes/Main.tsx
  src/scenes/index.ts
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@973ac2388705d475fa3c67d843a0fa1635403c7e 🚀
  assets/index-j1qzMphZ.js
  index.html
Due: npm run lint:fix

refactor(constants): rename directory data to constants
  src/constants/index.ts
  src/constants/key.ts
  src/scenes/Boot.ts
  src/scenes/Main.tsx
  src/sprites/Player.ts
  src/sprites/Star.ts
Due: none

build(package): move mobx to dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor(state): remove mobx and rename store to state
  package-lock.json
  package.json
  src/scenes/Main.tsx
  src/state/index.ts
  src/store/index.ts
  src/store/state.ts
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/phaser-template@53602c78f609ecc24ad2bf405313010793e2ca99 🚀
  assets/index-DTCQBuvi.js
  assets/index-RI9W69op.js
  index.html
Due: npm run lint:fix

refactor(sprites): tidy exports
  src/sprites/Player.ts
  src/sprites/Star.ts
  src/sprites/index.ts
Due: none

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{json,css,md}
  jsonlint: (any of: .*{rc,json}) or (any of: .*{rc,json},!.browserslistrc)
