Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

style(src): fix eslint prettier lint
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
  src/texts/Score.ts
Due: none

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write, jsonlint

ci(github): replace `npm install` with `npm ci`
  .github/workflows/build.yml
Due: none

fix(public): fix gtag is not defined
  public/index.html
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@e912ec0b38ef0496333ad11cabf4b63d57af21d3 🚀
  index.html
Due: none

build: refactor from Parcel to Vite
  .env
  .github/workflows/build.yml
  README.md
  index.html
  package-lock.json
  package.json
  src/index.ts
  src/style.css
  src/typings.d.ts
  src/utils/analytics.ts
  src/utils/env.ts
  src/utils/index.ts
Due: prettier --write

fix(vite): disable inlining of assets
  src/index.ts
  vite.config.mts
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@b3861d27d602182d93d75ea799dec409e418cb5b 🚀
  assets/dude-kxU0Dgdn.png
  assets/index-Qj-Efma1.js
  assets/star-6a0nCBWz.png
  index.html
Due: npm run lint:fix

chore(gitignore): remove `/.parcel-cache`
  .gitignore
Due: none

build(package): run clean before build script
  package.json
Due: prettier --write

docs(readme): document upload process
  README.md
Due: prettier --write

perf(sprites): don't create Player animation if it already exists
  src/sprites/Player.ts
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@486faca6ef84631b914fee3154199011f1133bda 🚀
  assets/index-qskYjmXZ.js
  index.html
Due: npm run lint:fix

build(package): save phaser-jsx to dependencies
  package-lock.json
  package.json
Due: prettier --write

build(tsconfig): add phaser-jsx as jsxImportSource
  tsconfig.json
Due: prettier --write

build(package): bump phaser-jsx from 0.2.0 to 0.2.1
  package-lock.json
  package.json
Due: prettier --write

refactor(scenes): use phaser-jsx to render score text in Main
  src/scenes/Main.tsx
  src/texts/Score.ts
  src/texts/index.ts
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@2f01970395d45ee9548c2a8ab6a26953f63b6541 🚀
  assets/index-gEI0CYO5.js
  index.html
Due: npm run lint:fix

build(package): bump phaser-jsx from 0.2.1 to 0.3.0
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ remarkablegames/phaser-template@e80132fd7013eec3086a03ff95b11d83bef7f709 🚀
  assets/index-0MM_Keyp.js
  index.html
Due: npm run lint:fix

refactor(types): rename typings.d.ts to vite-env.d.ts
  src/types/vite-env.d.ts
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@6eb228f3910f69cbe0c94724e4ad5c23a20c2263 🚀
  assets/index-LeBnamsV.js
  index.html
Due: npm run lint:fix

build(package): save `vite-plugin-html` to devDependencies
  package-lock.json
  package.json
Due: prettier --write

build(vite): minify html
  vite.config.mts
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@73badbabf355a5de613e5b41c72718b19bb2dcad 🚀
  index.html
Due: none

docs(readme): update README.md
  README.md
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{json,css,md}
  jsonlint: (any of: .*{rc,json}) or (any of: .*{rc,json},!.browserslistrc)
