Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{json,css,md}": [
    "prettier --write",
    "git add"
  ],
  ".*{rc,json}": "jsonlint"
}

build: use phaser version from package.json for the CDN url
  .env.development
  .env.production
  config/env.js
  public/index.html
Due: npm run lint:fix

feat(index): comment out ServiceWorker
  src/index.js
Due: npm run lint:fix

docs(readme): explain how to manual test production build locally
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): upgrade phaser@3.16.2
  package.json
Due: prettier --write

feat(index): center the game canvas using the Scale Manager
  src/helpers/resize.js
  src/index.css
  src/index.js
Due: npm run lint:fix, prettier --write

fix(scenes): scale the text properly with fontSize in Main
  src/scenes/Main.js
Due: npm run lint:fix

chore(package): upgrade devDependencies
  package.json
Due: prettier --write

feat: update project with latest `web-app-template`
  .babelrc
  .browserslistrc
  .eslintrc
  .gitignore
  .lintstagedrc
  .prettierignore
  README.md
  config/env.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.dev.js
  config/webpack.config.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.js
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  scripts/build.js
  scripts/start.js
  src/index.js
  src/scenes/Main.js
  src/serviceWorker.js
Due: npm run lint:fix, prettier --write, jsonlint

feat(public): add favicon.ico, update index.html & manifest.json
  public/favicon.ico
  public/index.html
  public/manifest.json
Due: prettier --write

feat(scripts): add `deploy.sh` and update npm script `deploy`
  package.json
  scripts/deploy.sh
Due: prettier --write

build(package): upgrade phaser@3.20.1
  package.json
Due: prettier --write

docs(readme): update directory structure in layout section
  README.md
Due: prettier --write

docs(readme): simplify sentences and improve grammar
  README.md
Due: prettier --write

chore(package): specify engines.node & engines.npm in package.json
  package.json
Due: prettier --write

docs(readme): update description & prerequisites, add Repl.it link
  README.md
Due: prettier --write

docs(readme): organize sentences and improve description
  README.md
Due: prettier --write

docs(readme): tidy description again
  README.md
Due: prettier --write

chore(license): update copyright year to 2020
  LICENSE
Due: none

build(package): upgrade husky and rename .huskyrc -> .huskyrc.json
  .huskyrc
  .huskyrc.json
  package.json
Due: prettier --write, jsonlint

chore: upgrade prettier, rename .prettierrc, and fix lint errors
  .prettierrc
  .prettierrc.json
  config/webpack.config.js
  config/webpackDevServer.config.js
  package.json
  scripts/start.js
Due: npm run lint:fix, prettier --write, jsonlint

chore: migrate lint-staged config
  .lintstagedrc
  package.json
Due: prettier --write, jsonlint

chore: rename .lintstagedrc -> .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write, jsonlint

chore(env): remove blank `.env.development` and `.env.production`
  .env.development
  .env.production
Due: none

style(public): run prettier on `index.html`
  public/index.html
Due: none

build(config): add `phaser` back to webpack externals
  config/webpack.config.js
Due: npm run lint:fix

chore(package): set version to `1.0.0-alpha`
  package.json
Due: prettier --write

build: move `IMAGE_INLINE_SIZE_LIMIT` from webpack config to .env
  .env
  config/webpack.config.js
Due: npm run lint:fix

build: move env vars from `config/env.js` to `.env`
  .env
  config/env.js
  package.json
  public/index.html
  src/index.js
Due: npm run lint:fix, prettier --write

build(env): prepend `WEB_` to custom environment variables
  .env
  README.md
  config/env.js
  public/index.html
  src/index.js
Due: npm run lint:fix, prettier --write

refactor: run web-scripts-migration v1.0.1
  .babelrc
  .eslintrc
  .eslintrc.json
  config/env.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.js
  config/webpackDevServer.config.js
  package.json
  scripts/build.js
  scripts/start.js
  src/scenes/Boot.js
Due: npm run lint:fix, prettier --write, jsonlint

docs(readme): update instructions and add migration section
  README.md
Due: prettier --write

refactor(src): get phaser from global window instead of import
  src/index.js
  src/scenes/Boot.js
  src/scenes/Main.js
  src/sprites/Player.js
  src/sprites/Star.js
  src/texts/Score.js
Due: npm run lint:fix

docs(readme): remind user to update phaser import after migration
  README.md
Due: prettier --write

style(public): add prettier-ignore for IE conditional comment
  public/index.html
Due: none

build(scripts): reset git HEAD after stash is popped
  scripts/deploy.sh
Due: none

docs(readme): remove `$` from shell code blocks
  README.md
Due: prettier --write

build(package): update devDependencies
  package.json
Due: prettier --write

chore: remove `jsonlint` from package.json and update .lintstagedrc
  .lintstagedrc.json
  package.json
Due: prettier --write, jsonlint

chore(package): update "engines" field
  package.json
Due: prettier --write
