Repository remarkablegames/phaser-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, jsonlint

build: replace `@descriptive/web-scripts` with `parcel`
  .env
  .eslintrc.json
  .github/workflows/build.yml
  .gitignore
  .husky/pre-commit
  README.md
  package.json
  public/index.html
  src/index.ts
  src/scenes/Main.ts
  src/sprites/Star.ts
  src/web-app-env.d.ts
  tsconfig.json
  typings.d.ts
Due: prettier --write, jsonlint

ci(github): fix --public-url in build.yml
  .github/workflows/build.yml
Due: none

Deploying to gh-pages from @ remarkablegames/phaser-template@297049dcf62cf28dbdea430c15bd9aa9d20b3865 🚀
  index.html
  manifest.webmanifest
Due: none

ci(github): set package version as env var during build
  .github/workflows/build.yml
  package.json
  src/index.ts
Due: prettier --write

chore: move typings.d.ts to src
  src/typings.d.ts
  tsconfig.json
Due: prettier --write

chore: rename index.css to style.css and update disableContextMenu
  src/index.ts
  src/style.css
Due: prettier --write

refactor: remove unusued styles and use private class fields
  src/index.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
  src/style.css
Due: prettier --write

refactor: tidy index.ts
  src/index.ts
Due: none

build(package): remove .parcel-cache in clean script
  package.json
Due: prettier --write

refactor(scenes): tidy scenes export
  src/index.ts
  src/scenes/index.ts
Due: none

chore: add audio extensions to typings.d.ts
  src/typings.d.ts
Due: none

refactor: rename types directory to data
  src/data/index.ts
  src/data/key.ts
  src/scenes/Boot.ts
  src/scenes/Main.ts
  src/sprites/Player.ts
  src/sprites/Star.ts
  src/types/index.ts
Due: none

build(package): upgrade devDependencies
  package.json
Due: prettier --write

chore: add Google Analytics
  .github/workflows/build.yml
  .lintstagedrc.json
  package.json
  public/index.html
  src/typings.d.ts
  src/utils/analytics.ts
Due: prettier --write, jsonlint

chore(github): remove comments in dependabot.yml
  .github/dependabot.yml
Due: none

refactor(public): move style.css from index.ts to index.html
  public/index.html
  public/style.css
  src/index.ts
Due: prettier --write

chore(public): add screenshot.png
  public/screenshot.png
Due: none

build(package): upgrade devDependencies and add package-lock.json
  package-lock.json
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci(github): update workflow release-please.yml
  .github/workflows/release-please.yml
Due: none

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: none

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{json,css,md}
  jsonlint: (any of: .*{rc,json}) or (any of: .*{rc,json},!.browserslistrc)
